LanguageTool*

* *
vosk*
.venv/
LanguageTool-6.5/
dictate.py
transcribe.py

dictation.log
get_suggestions.log
type_watcher.log

*.kate-swp

/*.txt

/log/

config/settings_local.py

*.cache.*
**/__pycache__/

# But DO NOT ignore requirements.txt
!requirements.txt
!requirements-dev.txt
