LanguageTool*

.stfolder/
.stignore
backup/


* *
vosk*
.venv/

dictate.py
transcribe.py

dictation.log
get_suggestions.log
type_watcher.log

*.kate-swp
.idea
*.idea
**/.idea/


/*.txt

/log/

config/settings_local.py

config/model_name.txt
config/model_name_lastused.txt

*.cache.*
**/__pycache__/

# But DO NOT ignore requirements.txt
!requirements.txt
!requirements-dev.txt
