LanguageTool*

.stfolder/
.stignore
backup/

Z_*

# to large
models/lid.176.bin

* *
vosk*
.venv/

dictate.py
transcribe.py

dictation.log
get_suggestions.log
type_watcher.log

*.kate-swp
.idea
*.idea
**/.idea/

snyk_results.*


/*.txt

/log/

config/settings_local.py

config/model_name.txt
config/model_name_lastused.txt

tools/translate-shell_and_save/translations

*.cache.*
**/__pycache__/

temp*

# But DO NOT ignore requirements.txt
!requirements.txt
!requirements-dev.txt
!doc_sources
!doc_sources/**/*.rst

_build/
docs_old/
# *.rst
!index.rst

# Lokale Symlink
settings
