bs4
cologne_phonetics
colorama>=0.4.0
exrex==0.12.0
fastapi==0.141.1
genanki==0.13.1
gi==0.8.1
jellyfish
jiwer==4.0.0
keyboard==0.13.5
nltk==3.9.1
numpy==2.5.2
objgraph==3.6.2
psutil>=7.0.0
pyaudio==0.2.14
pydantic==2.13.4
pygame
pygame==2.6.1
pyperclip
pyperclip==1.11.0
pytest==9.0.2
python-dotenv==1.2.3
python-slugify==8.0.4
pyzipper==0.3.6
requests>=2.28.0
sounddevice==0.5.2
soundfile==0.14.0
streamlit==1.52.0
thefuzz==0.22.1
tqdm>=4.60.0
trino==0.337.0
urllib3==2.7.0
vosk==0.3.45
watchdog==6.0.0
webrtcvad_wheels==2.0.14
wikipedia-api
comtypes==1.4.11; sys_platform == 'win32'
fasttext-wheel==0.9.2; sys_platform == 'win32'
fasttext==0.9.3; sys_platform != 'win32'
pycaw==20240210; sys_platform == 'win32'
